* {
    font-size: 25px;
}

.section {
    margin: 100px 0 50px 30px;
}

button {
    background:#1AAB8A;
    color:#fff;
    border:none;
    height:60px;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
}

button:hover {
    background:#fff;
    color:#1AAB8A;
}

#images {
    width: 500px;
    height: 400px;
    display: none;
}

select {
    color:#1AAB8A;
    height: 50px;
    width: 300px;
    text-align: center;
}

p,
label {
    color: #0c6a54;
    font-weight: 800;
}